<layout>
	<input type="hidden" name="inReplyTo"/>
	<label>
		<span class="key">To:</span>
		<div class="val">
			<input type="text" name="mail-to" spellcheck="false" autocomplete="off"/>
		</div>
		<i class="toggler" data-click="toggle-field" data-arg="cc" title="Carbon Copy">Cc</i>
		<i class="toggler" data-click="toggle-field" data-arg="bcc" title="Blank carbon Copy">Bcc</i>
		<i class="toggler" data-click="toggle-field" data-arg="priority" title="Priority"></i>
	</label>
	<label class="hidden">
		<span class="key">Cc:</span>
		<div class="val">
			<input type="text" name="mail-cc" spellcheck="false" autocomplete="off"/>
		</div>
	</label>
	<label class="hidden">
		<span class="key">Bcc:</span>
		<div class="val">
			<input type="text" name="mail-bcc" spellcheck="false" autocomplete="off"/>
		</div>
	</label>
	<label>
		<span class="key">Subject:</span>
		<div class="val">
			<input type="text" name="mail-subject" spellcheck="false" autocomplete="off"/>
		</div>
	</label>
	<!-- mail body -->
	<div class="mail-message" name="mail-message" contenteditable="true" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"></div>
</layout>