<layout>
	<input type="hidden" name="threadId"/>
	<input type="hidden" name="inReplyTo"/>
	<label>
		<span class="key">To:</span>
		<div class="val">
			<input type="text" name="mail-to" data-emails="get-email-address" data-add="add-recipient" autocomplete="one-time-code" autocorrect="off" autocapitalize="off" spellcheck="false" tabindex="1" />
		</div>
		<i class="toggler" data-click="toggle-field" data-arg="cc" title="Carbon Copy">Cc</i>
		<i class="toggler" data-click="toggle-field" data-arg="bcc" title="Blank carbon Copy">Bcc</i>
		<i class="toggler" data-click="toggle-field" data-arg="priority" title="Priority"></i>
	</label>
	<label class="hidden">
		<span class="key">Cc:</span>
		<div class="val">
			<input type="text" name="mail-cc" data-emails="get-email-address" data-add="add-recipient" autocomplete="one-time-code" autocorrect="off" autocapitalize="off" spellcheck="false"/>
		</div>
	</label>
	<label class="hidden">
		<span class="key">Bcc:</span>
		<div class="val">
			<input type="text" name="mail-bcc" data-emails="get-email-address" data-add="add-recipient" autocomplete="one-time-code" autocorrect="off" autocapitalize="off" spellcheck="false"/>
		</div>
	</label>
	<label>
		<span class="key">Subject:</span>
		<div class="val">
			<input type="text" name="mail-subject" spellcheck="false" autocomplete="one-time-code" tabindex="2"/>
		</div>
	</label>
	<!-- mail body -->
	<div class="mail-message" name="mail-message" contenteditable="true" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" tabindex="3"></div>
</layout>