<layout class="show-sidebar" data-drag-debug1="true" data-drag-root>
	<div class="ux-swap" data-area="list">
		<!-- clones of dragged elements goes here -->
	</div>
	
	<sidebar data-area="sidebar" data-click="select-folder">
		<div class="wrapper">
			<!-- sidebar contents goes here -->
		</div>
	</sidebar>
	
	<list data-area="list" data-click="select-thread">
		<div class="empty-bin">
			<span class="field">Permanently Delete Mails</span>
			<span class="btn-delete" data-click="permanently-empty-trashcan">Delete</span>
		</div>
		<div class="wrapper">
			<!-- list contents goes here -->
		</div>
	</list>
	
	<content data-area="content" data-click="select-mail">
		<!-- mail contents goes here -->

		<!-- <div class="wrapper slim-messages">
			<div class="thread-subject">
				<h2>Re: Help With Tree Selection</h2>
				<i class="icon-thick-messages" data-click="toggle-message-view"></i>
			</div>

			<div class="entry active" data-attachment="2">
				<div class="head">
					<span class="avatar"></span>
					<div class="row">
						<span class="field-name">From</span>
						<span class="field-value from-name">Ben Greene</span>
						<span class="date">2025-02-05</span>
						<span class="time">12:15</span>
					</div>
					<div class="row">
						<span class="field-name">To</span>
						<span class="field-value from-name">Sto Akron</span>
					</div>
				</div>
				<div class="body">
					Birch would look great! We were also thinking of maple trees. What do you think?
					- Sto
				</div>
				<div class="foot">
					<span class="file-attachment">
						<i style="background-image: url(/app/icons/file-txt.png);"></i>
						<span>text-file.txt</span>
					</span>
					<span class="file-attachment">
						<i style="background-image: url(/app/icons/file-image.png);"></i>
						<span>image.jpg</span>
					</span>
				</div>
			</div>

			<div class="entry">
				<div class="head">
					<span class="avatar"></span>
					<div class="row">
						<span class="field-name">From</span>
						<span class="field-value from-name">Sto Akron</span>
						<span class="date">2025-02-05</span>
						<span class="time">12:15</span>
					</div>
					<div class="row">
						<span class="field-name">To</span>
						<span class="field-value from-name">Ben Greene</span>
					</div>
				</div>
				<div class="body">
					Hi Sto,
					I can help! Have you thought about birch trees? You could plant a
					cluster of them near the south wall.
					- Ben
				</div>
			</div>

			<div class="entry">
				<div class="head">
					<span class="avatar"></span>
					<div class="row">
						<span class="field-name">From</span>
						<span class="field-value from-name">Ben Greene</span>
						<span class="date">2025-02-05</span>
						<span class="time">12:15</span>
					</div>
					<div class="row">
						<span class="field-name">To</span>
						<span class="field-value from-name">Sto Akron</span>
					</div>
				</div>
				<div class="body">Ben,
					I am plainting new trees in my garden, and need some help with selection. Do you have any recommendations?
					- Sto Akron
				</div>
			</div>
		</div> -->

	</content>
</layout>
