<layout class="show-sidebar" data-drag-debug1="true" data-drag-root>
	<div class="ux-swap" data-area="list">
		<!-- clones of dragged elements goes here -->
	</div>
	
	<sidebar data-area="sidebar" data-click="select-folder">
		<div class="wrapper">
			<!-- sidebar contents goes here -->
		</div>
	</sidebar>
	
	<list data-area="list" data-click="select-thread">
		<div class="empty-bin">
			<span class="field">Permanently Delete Mails</span>
			<span class="btn-delete" data-click="permanently-empty-trashcan">Delete</span>
		</div>
		<div class="wrapper">
			<!-- list contents goes here -->
		</div>
	</list>
	
	<content data-area="content" data-click="select-mail">
		<!-- mail contents goes here -->
	</content>
</layout>
