<layout>
	<label>
		<span>To:</span>
		<input type="text" name="mail-to" spellcheck="false" autocomplete="off"/>
	</label>
	<label class="hidden">
		<span>Cc:</span>
		<input type="text" name="mail-cc" spellcheck="false" autocomplete="off"/>
	</label>
	<label class="hidden">
		<span>Bcc:</span>
		<input type="text" name="mail-bcc" spellcheck="false" autocomplete="off"/>
	</label>
	<label class="hidden">
		<span>Reply to:</span>
		<input type="text" name="mail-reply-to" spellcheck="false" autocomplete="off"/>
	</label>
	<label>
		<span>Subject:</span>
		<input type="text" name="mail-subject" spellcheck="false" autocomplete="off"/>
	</label>
	<!--
		High Priority
		Normal Priority
		Low Priority
	-->
	<!-- <label>
		<span>From:</span>
		<input type="text" name="mail-from" spellcheck="false" autocomplete="off"/>
	</label> -->
	<div class="mail-message" name="mail-message" contenteditable="true" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"></div>
</layout>