<layout class="show-sidebar">
	<sidebar data-area="sidebar" data-click="select-folder">
		<div class="wrapper">
			<div class="entry active">
				<i class="icon-arrow-left"></i>
				<i class="icon-inbox"></i>
				<span>Inbox</span>
			</div>

			<div class="entry">
				<i class="icon-blank"></i>
				<i class="icon-sent"></i>
				<span>Sent</span>
			</div>

			<div class="entry">
				<i class="icon-blank"></i>
				<i class="icon-junk"></i>
				<span>Junk</span>
			</div>

			<div class="entry">
				<i class="icon-blank"></i>
				<i class="icon-trash"></i>
				<span>Deleted</span>
			</div>
		</div>
	</sidebar>
	
	<list data-area="list" data-click="select-mail">
		<div class="wrapper">
			<div class="entry unread">
				<div class="row">
					<span class="from">Daniel Hellerman</span>
					<i class="icon-attachment"></i>
					<span class="date">2022-06-13</span>
				</div>
				<div class="row">
					<span class="subject">What type of butterfly is this on my flowers?</span>
					<span class="replies">2</span>
				</div>
			</div>

			<div class="entry replied active">
				<div class="row">
					<span class="from">Sonny Fazio</span>
					<i class="icon-attachment"></i>
					<i class="icon-flag-red"></i>
					<span class="date">2022-06-13</span>
				</div>
				<div class="row">
					<span class="subject">Upcoming Newsletter Feature Image</span>
					<span class="replies">1</span>
				</div>
			</div>

			<div class="entry replied">
				<div class="row">
					<span class="from">Luca De Baptistis</span>
					<span class="date">2022-06-13</span>
				</div>
				<div class="row">
					<span class="subject">Requesting Information</span>
				</div>
			</div>

			<div class="entry unread">
				<div class="row">
					<span class="from">Ben Greene</span>
					<i class="icon-flag-red"></i>
					<span class="date">2022-06-13</span>
				</div>
				<div class="row">
					<span class="subject">Schedule for NYC</span>
				</div>
			</div>
		</div>
	</list>
	
	<content data-area="content">
		<div class="wrapper">

		</div>
	</content>
</layout>
