
layout {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;

	&.show-sidebar {
		sidebar { width: 140px; }
	}

	[class*="icon-"],
	[class^="icon-"] {
		position: relative;
		display: inline-block;
		vertical-align: middle;
		width: 17px;
		height: 17px;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: 50% 50%;
		
		&.icon-blank      { background-image: url(~/icons/icon-blank.png); }
		&.icon-play       { background-image: url(~/icons/icon-play.png); background-size: 11px 11px; }
		&.icon-inbox      { background-image: url(~/icons/icon-inbox.png); }
		&.icon-sent       { background-image: url(~/icons/icon-send.png); }
		&.icon-archive    { background-image: url(~/icons/icon-archive.png); }
		&.icon-junk       { background-image: url(~/icons/icon-junk.png); }
		&.icon-trash      { background-image: url(~/icons/icon-trash.png); }

		&.icon-attachment { background-image: url(~/icons/icon-attachment.png); }
	}

	[class^="icon-flag-"] {
		background-image: url(~/icons/icon-flag.png);
	}
}

sidebar {
	position: relative;
	width: 0;
	overflow-x: hidden;
	user-select: none;
	transition: width 120ms linear;
	color: #666;

	&:after {
		border-right-color: #bdc0c780;
	}

	.wrapper {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		width: 140px;
		overflow-x: hidden;
		overflow-y: auto;
		padding: 4px 5px;
		pointer-events: none;
	}

	.entry {
		padding: 3px 2px;
		margin-bottom: 1px;
		white-space: nowrap;
		border-radius: 3px;
		font-size: 0;
		pointer-events: all;

		&.active {
			background: rgba(0,0,0,.1);
			color: #222;

			[class^="icon-"] {
				opacity: .75;
				margin-right: 5px;
			}
		}

		[class^="icon-"] {
			opacity: .35;
			margin-right: 5px;
			pointer-events: none;
		}

		span {
			display: inline-block;
			font-size: 13px;
			vertical-align: middle;
			pointer-events: none;
		}
	}
}

list {
	position: relative;
	width: 280px;
	background: #fff;
	color: #666;

	&:after {
		content: "";
		position: absolute;
		top: 0;
		right: -1px;
		bottom: 0;
		z-index: 2;
		border-right: 1px solid #bdc0c787;
	}

	.wrapper {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		width: 280px;
		overflow-x: hidden;
		overflow-y: auto;
		padding: 4px 5px;
		pointer-events: none;
	}

	.entry {
		position: relative;
		padding: 3px 4px 3px 29px;
		margin-bottom: 7px;
		border-radius: 5px;
		line-height: 19px;
		pointer-events: all;

		&.active {
			background: #489bf7;
			color: #fff;

			.row {
				[class^="icon-"] {
					filter: invert(1) brightness(1.75);
				}

				.date {
					color: rgba(255,255,255,.5);
				}

				.replies {
					background: #287bd7a0;
					color: rgba(255,255,255,.65);

					&:before {
						filter: invert(1) brightness(1.75);
					}
				}
			}

			&.replied:before {
				filter: invert(1) brightness(1.75);
			}
		}

		&.unread {
			&:before {
				content: "";
				position: absolute;
				top: 8px;
				left: 11px;
				width: 9px;
				height: 9px;
				border-radius: 50%;
				background: rgba(0,0,0,.15);
			}
		}

		&.replied {
			&:before {
				content: "";
				position: absolute;
				top: 7px;
				left: 11px;
				width: 11px;
				height: 11px;
				border-radius: 50%;
				background-image: url(~/icons/icon-arrow-left.png);;
				background-position: 80% 50%;
				background-size: 11px 11px;
				background-repeat: no-repeat;
				opacity: .35;
			}
		}

		.row {
			display: flex;
			pointer-events: none;

			[class^="icon-"] {
				width: 13px;
				height: 13px;
				margin: 0 3px;
				top: 3px;
				opacity: .5;
			}

			.from {
				font-weight: 700;
			}

			.date {
				flex: 1;
				text-align: right;
				color: #999;
			}
			
			.subject {
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;
			}
			
			.replies {
				position: relative;
				top: -1px;
				background-color: rgba(0,0,0,.075);
				display: inline-block;
				padding: 0 13px 0 7px;
				margin-left: 7px;
				font-weight: 700;
				color: #888;
				border-radius: 4px;

				&:before {
					content: "";
					position: absolute;
					top: 4px;
					right: 3px;
					width: 11px;
					height: 11px;
					background-image: url(~/icons/icon-chevron-right.png);;
					background-position: 80% 50%;
					background-size: 9px 9px;
					background-repeat: no-repeat;
					opacity: .5;
				}
			}
		}
	}
}

content {
	position: relative;
	flex: 1;

	.wrapper {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		overflow: auto;
		padding: 11px 13px;
	}

	.entry {
		background: #fff;
		color: #999;
		padding: 9px 11px;
		margin-bottom: 13px;
		border-radius: 6px;
		line-height: 19px;
		border: 1px solid rgba(0,0,0,.125);

		.head {
			position: relative;
			padding: 0 0 0 41px;
			margin-bottom: 17px;

			&:after {
				content: "";
				position: absolute;
				bottom: -7px;
				left: 0;
				right: 0;
				border: 1px solid #eee;
			}

			.avatar {
				background: rgba(0,0,0,.125);
				position: absolute;
				top: 2px;
				left: 2px;
				width: 31px;
				height: 31px;
				border-radius: 50%;
			}

			.row {
				display: flex;
			}

			.field-name {
				width: 53px;
				text-align: right;

				&:after {
					content: ":";
					display: inline-block;
					padding-right: 5px;
				}
			}

			.field-value {
				flex: 1;
				color: #555;
			}

			.date {
				width: 110px;
				text-align: right;
			}
		}

		.body {
			padding: 3px 0 9px;
			color: #333;
		}
	}
}
