
&[data-theme="dark"] {

	&.win-body-focused_ {}

	sidebar {
		color: #ccc;

		&:before {
			content: "";
			position: absolute;
			top: 0;
			bottom: 0;
			right: 0;
			width: 1px;
			background: linear-gradient(0deg, transparent 7%, #ffffff30 50%, transparent 93%);
		}

		&:after {
			right: 1px;
			border-right-color: rgba(0,0,0,.35);
		}

		.entry {
			[class^="icon-"] {
				opacity: .4;
				filter: invert(1) brightness(1) drop-shadow(0 1px 0 #111);
			}

			&.active {
				color: #ddd;

				[class^="icon-"] {
					opacity: .75;
				}
			}
		}
	}

	list {
		background: #ffffff10;
		color: #ccc;

		&:before {
			content: "";
			position: absolute;
			top: 0;
			bottom: 0;
			right: 0;
			width: 1px;
			background: linear-gradient(0deg, transparent 7%, #ffffff30 50%, transparent 93%);
		}

		&:after {
			right: 1px;
			border-right-color: rgba(0,0,0,.35);
		}
	}

	content {
		.entry {
			background: #ffffff20;
			color: #ccc;
		}
	}
}
