
&[data-theme="dark"] {
	&.win-body-focused_ {
		.blank-view {
			color: #ddd;
			text-shadow: 0 1px 0 rgba(#000,.125);

			h2 {
				color: #ddd;
			}

			> div {
				> h3 {
					color: #ddd;
				}
			}
		}
	}

	.blank-view {
		background: transparent;
		color: #999;
		text-shadow: 0 0 0;

		h2 {
			color: #aaa;
		}

		> div {
			> h3 {
				color: #aaa;
			}
		}

		.block-buttons {
			.btn {
				background: #0001;
				box-shadow: inset 0 1px 0 rgba(#000,.075),
							0 0 0 2px rgba(#fff,.35);

				&:hover:not(.disabled_) {
					box-shadow: 0 0 0 3px #489bf770,
								0 0 0 2px #489bf7;
				}
				
				i {
					left: -1px;
					opacity: .35;
					filter: invert(1) brightness(2) drop-shadow(0 1px 0 #0003);
				}
			}
		}
	}

	layout {
		background: #eee1;
		color: #fff;
		text-shadow: 0 1px 0 #0007;

		sidebar {
			background: #ddd1;
			color: #ddd;

			&:after {
				border-right-color: #0002;
			}

			.folder-entry {
				&:hover {
					color: #fff;
				}
				
				&.active {
					color: #fff;

					.unread {
						color: #bbb;
					}
				}

				[class*="icon-"],
				[class^="icon-"] {
					filter: invert(1) contrast(5) drop-shadow(0 1px 0 #0009);
				}
			}

			.unread {
				color: #aaa;
			}
		}

		list {
			background: #fff1;
			color: #fff;

			&:after {
				border-right-color: #0002;
			}

			.list-entry {
				&:before {
					filter: invert(1) contrast(5) drop-shadow(0 1px 0 #000c);
				}

				.row {
					.date {
						color: #fff9;
						text-shadow: 0 1px 0 #0005;
					}

					.replies {
						color: #fff8;
						text-shadow: 0 1px 0 #0005;

						&:before {
							filter: invert(1) contrast(5) drop-shadow(0 1px 0 #0007);
						}
					}

					.icon-attachment {
						filter: invert(1) contrast(5) drop-shadow(0 1px 0 #0007);
					}
				}
			}
		}

		content {
			.wrapper {
				--l1: #dd6fec;
				--l2: #50add4;
				--l3: #da8233;
			}

			.thread-subject {
				background: #737373;

				i {
					filter: invert(1) contrast(5) drop-shadow(0 1px 0 #0007);

					&:hover {
						background-color: #fff2;
					}
				}
			}
			
			.mail-entry {
				background: #fff3;
				color: #fffd;
				text-shadow: 0 1px 0 #0005;
				border-color: #0005;

				&.deleted {
					background: #fff0;
					border-color: #0000;
					
					.head {
						color: #fff9;

						&:before {
							filter: invert(1) contrast(5) drop-shadow(0 1px 0 #0007);
							opacity: .5;
						}

						&:after {
							border-color: #fff4;
						}

						.btn-undo {
							background: #fff1;
							border-color: #fff2;
							color: #fff9;

							&:hover {
								background: #fff3;
								color: #fff;
							}
						}
					}
				}

				&.expanded {
					.head {
						&:after {
							border-bottom-color: #fff2;
						}

						.row {
							.recipient {
								color: #fff;
							}
						}
					}
				}

				&.active {
					border-color: #348baf;
					box-shadow: 0 0 0 3px #50add4;
				}

				.head {
					&:before {
						filter: invert(1) contrast(5) drop-shadow(0 1px 0 #0007);
					}

					.avatar {
						box-shadow: inset 0 0 0 1px #fff9,
									0 0 0 1px #fff9;
					}

					.field-value {
						color: #fff;
						text-shadow: 0 1px 0 #0005;
					}

					.date,
					.time {
						color: #fff9;
						text-shadow: 0 1px 0 #0003;

						&:before,
						&:after {
							filter: invert(1) contrast(5) drop-shadow(0 1px 0 #0007);
						}
					}
				}

				span[data-menu="mail-actions"] {
					.icon-more-menu {
						filter: invert(1) contrast(5) drop-shadow(0 1px 0 #0007);
					}
				}

				.body {
					color: #fff;
				}

				.foot {
					&:after {
						border-top-color: #fff2;
					}

					.file-attachment {
						background: #fff1;
						color: #fff;
						box-shadow: 0 0 0 1px #0001;
					}
				}
			}
		}
	}
}
