
[data-ui="royale-beige"] {
	.win-body_ layout {
		list {
			background: #fff1;
		}
	}
}

[data-ui="royale-amber"] {
	.win-body_ layout {
		list {
			background: #fff1;
		}
	}
}

[data-ui="royale-black"] {
	.win-body_ layout {
		list {
			background: #fff1;
		}
	}
}

[data-ui="royale-emerald"] {
	.win-body_ layout {
		list {
			background: #fff1;
		}
	}
}

[data-ui="royale-pink"] {
	.win-body_ layout {
		list {
			background: #fff1;
		}
	}
}

[data-ui="royale-purple"] {
	.win-body_ layout {
		list {
			background: #fff1;
		}
	}
}
